html {
  background-color: #3b3131;
}

body {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  position: relative;
  font-family: 'Droid Sans', sans-serif;
  color: #ABB6BE;
  font-weight: 400;
}

:focus {
  outline: none;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #ABB6BE;
  letter-spacing: -6px;
  margin: 9vh auto;
}

ul {
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  background: url('../img/bar.svg') no-repeat center;
  background-size: 94%;
}

li {
  list-style-type: none;
  width: 8%;
  display: inline-block;
  height: 19vh;
  margin-right: 1%;
  font-size: 3rem;
  padding-top: 3rem;
  cursor: pointer;
  background: url('../img/tile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
}

li:last-of-type {
  margin-right: 0;
}

footer {
  margin-top: 5%;
}

#dice {
  clear: both;
  display: block;
  width: 20%;
  margin: 0 auto;
  color: #ABB6BE;
  padding: .5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

#infoContainer {
  margin: 5% auto;
}

#info {
  font-size: 3rem;
  letter-spacing: -3px;
  margin: 0 auto;
}

#newGame {
  background: transparent;
  color: #ABB6BE;
  font-size: 2rem;
  border: 1px solid #ABB6BE;
  padding: 2%;
  cursor: pointer;
  opacity: 0;
  margin: 5% auto;
  display: none;
}

#di1, #di2 {
  border: 3px solid #000;
  padding: 13%;
  border-radius: 24%;
  background-color: #fff;
  color: #333;
}

#line {
  position: absolute;
  width: 100%;
  top: 38vh;
  background: transparent url('../img/bar.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
}

.flipped {
  transform: rotateX(172deg);
  transform-origin: 8px;
  transition: .5s linear;
}
